html, body {
    display: flex;
    height: 100%;
    flex-direction: column;
    font-family: "Courier New", Courier, monospace;
    margin: 0 !important;
}
.message {
    opacity: 0;
    transform: translateY(-60px);
    animation: slideDown 1.5s ease forwards;
    justify-content: center;

    /* background-color: #4CAF50; */
    /* color: white; */
    text-align: center;
    font-size: 24px;
  }
  
  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
.envelope {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 30% 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    div {
        display: flex;
        height: 100%;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    img {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


.main {
    /* width: 100%; */
    /* padding: 12px 8px; */
    /* display: block; */
    /* display: flex; */
    display: grid;
    grid-template-rows: max-content;
    flex-direction: column;
    background: #773638;
    /* font-family: 'Playfair Display',
    serif; color: white */
    font-family: "Courier New", Courier, monospace;
    color: rgb(221, 221, 222);
    div {
        display: flex;
        height: 100%;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }
}

    .hide {
    display: none;
    }
   
   